<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Smadret CSS</title>
</head>
<style>
    .parent {
        display: grid;
        place-items: center;
        width: 100%;
        height: 100%;

    }

    .blue {
        background-color: darkcyan;
    }
    .box{
        width: 10%;
        height: 10%;
    }
    .grey{
        background-color: #666666;
    }

</style>
<body>
<div class="parent blue">
    <div class="box grey" contenteditable>Hold forskellige knapper inde
    </div>

</body>
</html>